:root {
  /* --soft-blue: #00a8ff; */
  --primary: #2a74a5;
  --hard-blue: #273c75;
  --dark-overlay: rgba(22, 21, 21, 0.178);
  --light-white: rgba(255, 255, 255, 0.527);
  --text: #2f3640;
  --light-text: #7f8fa6;
  --facebook-blue: #4267B2;
  --twitter-blue: #1DA1F2;
}
body {
  height: 100vh;
  font-family: 'lato', 'Roboto', 'monsterat'; 
}

/* -----------------Header------------------------- */
nav {
  display: flex !important;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
header {
  padding: 12px;
}
a {
  color: rgb(206, 206, 206);
}
.navbar-brand {
  font-family: "Satisfy", cursive;
  font-size: 52px;
}
.form-group input {
  width: 97%;
  padding: 10px;
}
.form-group input::placeholder {
  color: #ccc;
}

/* -----------------Main section------------------------- */

.main {
  margin: 50px;
}

.word, .aside{
  padding: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 1);
}
.top {
  border-bottom: 2px solid #2a74a5;
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.icons i {
  font-size: 20px;
  color: #2a74a5;
}
.icons i:hover {
  color: brown;
}
header{
  position: sticky !important;
  /* top: 0; */
  width: 100%;
  padding-top: 60px;
}
.main .btn {
  border: 1px solid #000;
  display: flex;
  width: 23%;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
}
.btn i{
  /* background: #000; */
  color: #2a74a5;
  margin: 0 8px;
  font-size: 18px;
}
.btn i:hover {
  color: brown;
}
.btn span{
  margin: 0 5px;
  color: var(--text);
  font-size: 10px;
}
.last .btn{
border: 1px solid #2a74a5;
}

.author p{
  font-size: 14px;
}
.aside h2{
  text-align: center;
  width: 100%;

}

footer{
  padding: 50px;
  color: #fff;
}