:root {
  /* --soft-blue: #00a8ff; */
  --primary: #05668d;
  --border: #d81159;
  --hard-blue: #273c75;
  --dark-overlay: rgba(22, 21, 21, 0.178);
  --light-white: rgba(255, 255, 255, 0.527);
  --text: #2f3640;
  --light-text: #F8F9FA;
  --facebook-blue: #4267b2;
  --twitter-blue: #1da1f2;
}
body {
  height: 100vh;
  font-family: "lato", "Roboto", "monsterat";
  /* font-weight: 900; */
}

/* -----------------Header------------------------- */
nav {
  display: flex !important;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
header {
  padding: 12px;
  background-color: var(--primary);
  min-width: 100%;
  
}
a {
  color: rgb(206, 206, 206);
}
.navbar-brand {
  font-family: "Satisfy", cursive;
  font-size: 52px;
}
.form-group input {
  width: 97%;
  padding: 10px;
}
.form-group input::placeholder {
  color: #ccc;
}

/* -----------------Main section------------------------- */

.main {
  margin: 50px;
}

.word,
.aside {
  padding: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 1);
  width: 100%;
}
.top {
  border-bottom: 2px solid var(--border);
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.icons i,
.btn i {
  font-size: 20px;
  color: var(--primary);
  transition: all 0.7s;
}
.icons i:hover,
.btn i:hover,
.btn span:hover,
.aside i:hover,
a:hover {
  color: var(--border);
  cursor: pointer;
  transition: all 0.2s;
}
header {
  position: sticky !important;
  width: 100%;
  padding-top: 60px;
}
.main .btn {
  border: 1px solid var(--primary);
  display: flex;
  /* width: 80%; */
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
}
.btn i {
  margin: 0 8px;
  font-size: 18px;
  transition: all 0.5s;
}

.btn span {
  margin: 0 5px;
  color: var(--text);
  font-size: 14px;
}
.last .btn {
  border: 1px solid var(--primary);
}

.author p {
  font-size: 14px;
}
.aside {
  width: 100%;
  min-width: 100%;
}
.aside h2 {
  text-align: center;
  width: 100%;
}
.aside h2::after {
  content: " ";
  display: block;
  position: absolute;
  width: 70%;
  height: 2px;
  background: var(--border);
}

footer {
  padding: 50px;
  color: var(--light-text);
  background: linear-gradient(#2390bb, #05668d);
  font-family: "lato", sans-serif;
}
footer p{
  font-weight: 400;


}

#navbar {
  overflow: hidden;
  z-index: 99;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
