@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');

:root {
    /* --soft-blue: #00a8ff; */
    --soft-blue: #51abd8;
    --hard-blue: #273c75;
    --dark-overlay: rgba(22, 21, 21, 0.178);
    --light-white: rgba(255, 255, 255, 0.527);
    --text: #2f3640;
    --light-text: #7f8fa6;
    --facebook-blue: #4267B2;
    --twitter-blue: #1DA1F2;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}

button,
a,
input {
    outline: none;
}

@media screen and (min-width: 1024px) {
    /* ================= Styling the desktop header ================================= */
    header {
        width: 100vw;
        height: 80px;
        background-color: #eee;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 2rem;
    }
    header nav ul{
        display: flex;
    }
    header nav li {
        list-style-type: none;
        margin-left: 2rem;
    }
    header nav a {
        padding: 1rem 0;
        /* background-color: green; */
        text-decoration: none;
        color: var(--text);
        font-weight: 400;
        font-size: 18px;
        position: relative;
    }
    header nav a:after {
        content: "";
        position: absolute;
        display: grid;
        width: 0%;
        height: 3px;
        margin-top: .3rem;
        background-color: var(--text);
        transition-duration: .3s;
    }
    header nav a:hover:after {
        content: "";
        width: 50%;
        transition-duration: .3s;
    }
    .hamburger {
        display: none;
    }
    .logo {
        position: absolute;
        left: 2rem;
        /* top: 1rem; */
    }
    .logo-text {
        font-size: 30px;
        text-decoration: none;
        color: var(--text);
    }
    
    /* ====================== Styling the desktop footer ================================ */
    footer {
        width: 100vw;
        height: 70px;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
    }
    footer p {
        color: var(--light-text);
        /* color: var(--light-white); */
    }
    
    footer ul {
        display: flex;
    }
    footer li {
        list-style-type: none;
        /* background-color: green; */
        margin-left: 1rem;
    }
    footer a {
        display: grid;
        width: 40px;
        height: 40px;
        background-color: var(--dark-overlay);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition-duration: .3s;
    }
    footer a img {
        width: 20px;
    }
    .facebook-icon:hover {
        background-color: var(--facebook-blue);
        transition-duration: .3s;
    }
    .twitter-icon:hover {
        background-color: var(--twitter-blue);
        transition-duration: .3s;
    }
    
    /* ========================= Styling the main section ================================= */
    .main {
        width: 100vw;
        height: 100vh;
        /* background-color: var(--hard-blue); */
        color: var(--text);
        padding: 2rem 4rem;
    }
    #logo {
        width: 100%;
        height: 30vh;
        /* background-color: red; */
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    #logo img {
        height: 40% !important;
    }
    #search-section {
        width: 100%;
        height: 10vh;
        display: grid;
        align-items: center;
        justify-content: center;
        /* background-color: green; */
    }
    #search-section form {
        display: flex;
        justify-content: space-between;
        width: calc(50vw - 8rem);
        /* background-color: red; */
    }
    #search-section input {   
        width: 88%;
        height: 50px;
        padding: 0 1rem;
        background-color: transparent;
        color: var(--text);
        border: 2px solid var(--text);
        font-size: 18px;
    }
    #search-section button {
        border: 2px solid var(--dark-overlay);
        background-color: var(--text);
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        height: 50px;
        padding: 0 1rem;
        cursor: pointer;
        transition-duration: .3s;
        /* width: 10%; */
    }
    #search-section button:hover {
        background-color: #fff;
        color: var(--text);
        border: 2px solid var(--text);
        transition-duration: .3s;
    }
    
    /* =========== Styling the word of the day section ======================= */
    .wotd {
        width: 100%;
        height: calc(60vh - 4rem);
        padding-top: 2rem;
        /* background-color: brown; */
    }
    .wotd-title {
        width: 100%;
        text-align: center;
        color: var(--light-text);
        font-size: 18px;
    }
    .wotd-title hr {
        margin: 1rem auto;
        border: none;
        height: 1px;
        width: 20vw;
        background-color: var(--dark-overlay);
    }
    .wotd-header {
        text-align: center;
    }
    .wotd-header h1 {
        font-size: 50px;
        font-family: 'Playfair Display', serif;
    }
    .wotd-header-sub {    
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    #separator {
        margin: 0 .3rem;
    }
    #span-2 {
        color: var(--light-text);
        font-style: italic;
        /* font-weight: 700; */
    }
    .wotd-content {
        width: 60%;
        margin: 0 auto;
        /* margin-top: 2rem; */
        /* background-color: red; */
        padding: 1rem 3rem;
    }
    .wotd-content h4 {
        font-size: 18px;
        margin-bottom: 2rem;
        color: var(--text);
        font-weight: 700;
    }
    .wotd-content .definition {
        font-size: 20px;
    }
    .wotd-content .example {
        padding: 1rem 2rem;
    }
    .wotd .ex {
        color: var(--text);
        font-weight: 700;
    }
    .wotd p.ex {
        font-weight: 400;
        color: var(--light-text);
        font-size: 18px;
        padding-left: 1rem;
    }
    .wotd .synonyms {
        display: flex;
        padding-left: 2rem;
    }
    .wotd .sy-pill {
        padding: .3rem 1rem;
        border: 1px solid var(--dark-overlay);
        margin-right: 1rem;
        border-radius: 3rem;
        color: var(--text);
        text-decoration: none;
    }
    .wotd .sy-pill:hover {
        border: 1px solid var(--text);
    }
    .wotd .sy-pill:first-child {
        border: none;
        font-weight: 700;
        margin-right: 0;
    }
    .more-info {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
    }
    .more-info button {
        height: 30px;
        padding: .3rem 1rem;
        border: none;
        background-color: var(--dark-overlay);
        cursor: pointer;
        font-size: 15px;
        color: var(--text);
    }
}


@media screen and (max-width: 1023px) {
/* ================= Styling the desktop header ================================= */
header {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 100vw;
    right: 0;
    padding: 0 2rem;
    transition-duration: .4s;
}

header nav ul{
    display: grid;
    align-items: center !important;
    align-content: center;
    text-align: center;
}
header nav li {
    list-style-type: none;
    margin-bottom: 1rem;
}
header nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 1rem;
}
header.show {
    left: 0vw;
    transition-duration: .4s;
}
.logo {
    position: fixed;
    left: 2rem;
    top: 2rem;
}
.logo-text {
    font-size: 30px;
    text-decoration: none;
    color: var(--text);
}
/* header nav a:after {
    content: "";
    position: absolute;
    display: grid;
    width: 0%;
    height: 3px;
    margin-top: .3rem;
    background-color: var(--text);
    transition-duration: .3s;
}
header nav a:hover:after {
    content: "";
    width: 50%;
    transition-duration: .3s;
} 
 */

.hamburger {
    width: 40px;
    height: 25px;
    position: fixed;
    right: 2rem;
    top: 2rem;
    display: grid;
    align-content: center;
    transition-duration: .3s;
    /* background-color: red; */
}

.hamburger:hover {
    transform: scale(1.1);
    transition-duration: .3s;
}
.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--text);
    border-radius: 5px;
    position: relative;
    transition-duration: .3s;
}
.ham-1.on {
    transform: rotate(45deg);
    margin-bottom: -20%;
    transition-duration: .3s;
}
.ham-2 {
    margin: 5px 0;
    transition-duration: .3s;
}
.ham-2.on {
    transform: scale(0);
    transition-duration: .3s;
}
.ham-3.on {
    transform: rotate(-45deg);
    margin-top: -35%;
    transition-duration: .3s;
}


/* ====================== Styling the desktop footer ================================ */
footer {
    width: 100vw;
    height: 70px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
footer p {
    color: var(--light-text);
    /* color: var(--light-white); */
}

footer ul {
    display: flex;
}
footer li {
    list-style-type: none;
    /* background-color: green; */
    margin-left: 1rem;
}
footer a {
    display: grid;
    width: 40px;
    height: 40px;
    background-color: var(--dark-overlay);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
}
footer a img {
    width: 20px;
}
.facebook-icon:hover {
    background-color: var(--facebook-blue);
    transition-duration: .3s;
}
.twitter-icon:hover {
    background-color: var(--twitter-blue);
    transition-duration: .3s;
}

/* ========================= Styling the main section ================================= */
.main {
    width: 100vw;
    height: 100vh;
    /* background-color: var(--hard-blue); */
    color: var(--text);
    padding: 2rem;
}
#logo {
    width: 100%;
    height: 20vh;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#logo img {
    height: 40% !important;
}
#search-section {
    width: 100%;
    height: 20vh;
    display: grid;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}
#search-section form {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    /* background-color: red; */
}
#search-section input {   
    width: 97%;
    height: 50px;
    padding: 0 1rem;
    background-color: transparent;
    color: var(--text);
    border: 2px solid var(--text);
    font-size: 18px;
}
#search-section button {
    border: 2px solid var(--dark-overlay);
    background-color: var(--text);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    cursor: pointer;
    padding: 0 1rem;
    /* width: 10%; */
    transition-duration: .3s;
}
#search-section button:hover {
    background-color: #fff;
    color: var(--text);
    border: 2px solid var(--text);
    transition-duration: .3s;
}

/* =========== Styling the word of the day section ======================= */
.wotd {
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
    /* background-color: brown; */
}
.wotd-title {
    width: 100%;
    text-align: center;
    color: var(--light-text);
    font-size: 18px;
}
.wotd-title hr {
    margin: 1rem auto;
    border: none;
    height: 1px;
    width: 20vw;
    background-color: var(--dark-overlay);
}
.wotd-header {
    text-align: center;
}
.wotd-header h1 {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}
.wotd-header-sub {    
    display: flex;
    justify-content: center;
    font-size: 18px;
}
#separator {
    margin: 0 .3rem;
}
#span-2 {
    color: var(--light-text);
    font-style: italic;
}
.wotd-content {
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    /* background-color: red; */
    padding: 1rem;
}
.wotd-content h4 {
    font-size: 18px;
    margin-bottom: 2rem;
    color: var(--text);
    font-weight: 700;
}
.wotd-content .definition {
    font-size: 20px;
}
.wotd-content .example {
    padding: 1rem;
}
.wotd .ex {
    color: var(--text);
    font-weight: 700;
}
.wotd p.ex {
    font-weight: 400;
    color: var(--light-text);
    font-size: 18px;
    padding-left: 1rem;
}
.wotd .synonyms {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
}
.wotd .sy-pill {
    padding: .3rem 1rem;
    border: 1px solid var(--dark-overlay);
    margin-right: 1rem;
    border-radius: 3rem;
    color: var(--text);
    text-decoration: none;
}
.wotd .sy-pill:hover {
    border: 1px solid var(--text);
}
.wotd .sy-pill:first-child {
    border: none;
    font-weight: 700;
    margin-right: 0;
}
.more-info {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
.more-info button {
    height: 30px;
    padding: .3rem 1rem;
    border: none;
    background-color: var(--dark-overlay);
    font-size: 15px;
    color: var(--text);
}
}
    