:root {
  /* --soft-blue: #00a8ff; */
  /* --primary-color: #05668d; */
  /* --primary-color: #084c61; */
  --primary-color: #0a1128;
  /* --primary-color: #042a2b; */
  --light-red: #ee2e31;
  --hard-blue: #273c75;
  --dark-overlay: rgba(22, 21, 21, 0.178);
  --light-white: rgba(255, 255, 255, 0.527);
  --text: #2f3640;
  --light-text: #f8f9fa;
  --facebook-blue: #4267b2;
  --twitter-blue: #1da1f2;
}
body {
  height: 100vh;
  font-family: "lato", "Roboto", "monsterat";
}


header {
  padding: 12px;
  background-color: var(--primary-color);
  min-width: 100%;
}
.dropdown-menu {
  z-index: 1;
}
a {
  color: rgb(206, 206, 206);
}
.navbar-brand {
  font-family: "Satisfy", cursive;
  font-size: 38px;
}


.form-group input::placeholder {
  color: #ccc;
}

/* -----------------Main section------------------------- */

.main-content .word,
aside {
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 1);
  width: 100%;
}
.top {
  border-bottom: 2px solid var(--light-red);
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.icons i,
.btn i {
  font-size: 20px;
  color: var(--primary-color);
  transition: all 0.7s;
}
a:hover {
  color: #ffffff;
}
.icons i:hover,
.btn span:hover,
aside i:hover,
.main a:hover {
  color: var(--light-red);
  cursor: pointer;
  transition: all 0.2s;
}

.content {
  font-size: 15px;
}

.main .btn {
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.btn i {
  margin: 0 8px;
  font-size: 18px;
  transition: all 0.5s;
}
.btn i:hover {
  color: var(--light-red);
}

.btn span {
  margin: 0 5px;
  color: var(--text);
  font-size: 14px;
}
.last .btn {
  border: 1px solid var(--primary-color);
  padding: 8px !important;
}
.last .btn:hover {
  border: 1px solid var(--light-red);
  /* background: var(--primary-color); */
}

.author p {
  font-size: 14px;
}
.author:hover {
  color: var(--light-red);
  cursor: pointer;
}
aside {
  width: 100%;
  min-width: 100%;
  padding: 0;
}
aside h2 {
  text-align: center;
  width: 100%;
}
aside h2::after {
  content: " ";
  display: block;
  position: absolute;
  width: 70%;
  height: 2px;
  background: var(--light-red);
}
aside p {
  font-size: 14px;
  text-align: left;
}

footer {
  padding: 50px;
  color: var(--light-text);
  background: var(--primary-color);
  font-family: "lato", sans-serif;
}
footer p {
  font-weight: 400;
  font-size: 14px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: var(--primary-color);
  padding: 0 60px !important;
  width: 100% !important;
  transition: all linear 0.5s;
}
.sticky .navbar-brand {
  font-size: 30px;
}

.show > .dropdown-menu {
  max-height: 900px;
  visibility: visible;
}

.verses span{
  display: inline-block;
}

.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
}
.more a:hover, .book div:hover{
  color: #ddd;
  background-color: var(--primary-color) !important;
  transition: all 0.2s;
}

.card-body span{
  background-color: var(--primary-color);

}
.categories button:hover{
  background-color: var(--primary-color) !important;
  color: #ddd;
}
.categories h5{
  padding-bottom: 10px;
border-bottom: 2px solid var(--primary-color);
}

option{
  background-color: #0a1128;
  /* color: var(--light-text); */
}
option:hover{
  background-color: var(--light-red);
}
